        body { font-family: 'Inter', sans-serif; }
        .vertical-text {
            writing-mode: vertical-rl;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        font-size: 20px;
      }
      .card-hover:hover .action-buttons {
        opacity: 1;
        transform: translateX(0);
      }
      .action-buttons {
        opacity: 0;
        transform: translateX(10px);
        transition: all 0.3s ease;
      }