        body { font-family: 'Inter', sans-serif; }
        .vertical-text {
            writing-mode: vertical-rl;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }

        /* index.css for toggle smooth durection */
        /* BACKDROP */
#appBackdrop {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
}

#appBackdrop.backdrop-open {
  opacity: 1;
  pointer-events: auto;
}

/* DRAWER (BOTTOM → TOP on mobile, LEFT → RIGHT on desktop) */
[data-drawer] {
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

/* Desktop */
@media (min-width: 1280px) {
  [data-drawer] {
    transform: translateX(-100%);
  }
}

/* OPEN STATE */
[data-drawer].drawer-open {
  transform: translateY(0);
}

@media (min-width: 1280px) {
  [data-drawer].drawer-open {
    transform: translateX(0);
  }
}
        /* index.css for toggle smooth durection stop*/
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        font-size: 20px;
      }
      .card-hover:hover .action-buttons {
        opacity: 1;
        transform: translateX(0);
      }
      .action-buttons {
        opacity: 0;
        transform: translateX(10px);
        transition: all 0.3s ease;
      }

       .marquee-container {
            overflow: hidden;
            white-space: nowrap;
            position: relative;
        }

        .marquee-content {
            display: inline-flex;
            animation: marquee 30s linear infinite;
        }



        .drawer-open {
  opacity: 1 !important;
  pointer-events: auto !important;
  transform: translate3d(0,0,0) !important;
}

.backdrop-open {
  opacity: 1 !important;
  pointer-events: auto !important;
}

        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .marquee-content {
    animation: marquee 20s linear infinite;
  }
  .marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

        .arch-image {
            border-top-left-radius: 999px;
            border-top-right-radius: 999px;
            border-bottom-left-radius: 999px;
            border-bottom-right-radius: 20px;
            overflow: hidden;
            aspect-ratio: 1 / 1.1;
            object-fit: cover;
        }
        .material-symbols-outlined {
            font-size: 18px;
            vertical-align: middle;
        }

