        body { font-family: 'Inter', sans-serif; }
        .vertical-text {
            writing-mode: vertical-rl;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        font-size: 20px;
      }
      .card-hover:hover .action-buttons {
        opacity: 1;
        transform: translateX(0);
      }
      .action-buttons {
        opacity: 0;
        transform: translateX(10px);
        transition: all 0.3s ease;
      }

       .marquee-container {
            overflow: hidden;
            white-space: nowrap;
            position: relative;
        }

        .marquee-content {
            display: inline-flex;
            animation: marquee 30s linear infinite;
        }

        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .marquee-content {
    animation: marquee 20s linear infinite;
  }
  .marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

        .arch-image {
            border-top-left-radius: 999px;
            border-top-right-radius: 999px;
            border-bottom-left-radius: 999px;
            border-bottom-right-radius: 20px;
            overflow: hidden;
            aspect-ratio: 1 / 1.1;
            object-fit: cover;
        }
        .material-symbols-outlined {
            font-size: 18px;
            vertical-align: middle;
        }